
body{
    margin: 0px;
}

header{
    display: flex;
    height: auto;
    border-style: none none solid none;
    border-color: #d3d3d3;
    border-width: 2px;
    align-items: baseline;
}

nav{
    display: flex;
    border-style: none none solid none;
    border-color: lightgray;
    border-width: 2px;
    justify-content: space-around;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    text-decoration-color: black;
}

h1{
    font-size: 4rem;
    margin: 0;
}

h2{
    font-size: 3rem;
}


.homepage_container{
    display: grid;
    grid-template-rows: auto;
}


section{
    height: 40rem;
}

section.welcome{
    display: flex;
    flex-direction: column;
    background-image: url("/img/welcome_secotion_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

section.odd{
    background-color: #3498db;
}
section.even{
    background-color: #db7734;
}
