
body{
    margin: 0px;
}

header{
    display: flex;
    height: auto;
    border-style: none none solid none;
    border-color: #d3d3d3;
    border-width: 2px;
    align-items: baseline;
}

nav{
    display: flex;
    border-style: none none solid none;
    border-color: lightgray;
    border-width: 2px;
    justify-content: space-around;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    text-decoration-color: black;
}

h1{
    font-size: 4rem;
    margin: 0;
}

h2{
    font-size: 3rem;
}

footer{
    background-color: black;
}

.homepage_container{
    display: grid;
    grid-template-rows: auto auto 40rem 40rem 40rem 40rem 10rem;
}



section.welcome{
    display: flex;
    flex-direction: column;
    background-image: url("/img/welcome_secotion_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

section.odd{
    background-color: #3498db;
}
section.even{
    background-color: #db7734;
}


.inspiration_container{
    display: grid;
    grid-template-rows: auto auto 1000px;
}

.inspiration_page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
}

.inspiration_card{
    display: flex;
    width: 350px;
    height: 600px;
    border-radius: 3rem;
    background-color: #3498db;
    margin: 10px;
}




